</body>
<footer>
  <img class="solarsystemfooter" src="/img/solarsystem.jpg" alt="Solar System">
  <br/>CST 336. Spring 2020&copy; Herndon <br/>
  <strong>Disclaimer:</strong><br/> 
  This site is used for academic purposes only. <br/>
</footer>
</html>
